 @import "~slick-carousel/slick/slick.css";
 @import "~slick-carousel/slick/slick-theme.css";

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "BDO Grotesk", sans-serif;
   border-color: transparent !important;
 }

 body {
   background-color: #f8f7f3 !important;
 }

 /* START: General styles */
 .max-width {
   @apply max-w-[1440px] mx-auto;
 }

 .padding-x {
   @apply sm:px-16 px-6;
 }

 .padding-y {
   @apply py-4;
 }

 .flex-center {
   @apply flex items-center justify-center;
 }

 .flex-between {
   @apply flex justify-between items-center;
 }

 .custom-btn {
   @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
 }

 /* END: General styles */

 /* END: search manufacturer styles */

 .bg-c1 {
   background-color: #ece7e1;
 }

 .bg-c2 {
   background-color: #b1a8a3;
 }

 .myClass1 {
   color: red;
 }


 .btn {
   font-weight: bolder !important;
 }


 .btn-2 {
   background-color: #000 !important;
   color: white !important;
   font-size: 14px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   font-family: "BDO Grotesk", sans-serif;
 }



 @media (min-width: 1200px) {
   @media (pointer: fine) {
     .xl\:pointer-fine\:br_h-\[75px\] {
       height: 100px !important;
     }

     .xl\:pointer-fine\:br_top-\[9px\] {
       top: 25px !important;
     }

     .secondaryLevel {
       top: 65px !important;
     }
   }
 }


 .sywVideo {
   color: #fff !important;
   background-color: transparent !important;
 }

 .sywCarousel {
   color: #fff !important;
 }

 .sywProductTabs-title {
   color: #fff !important;
   background-color: transparent !important;
 }

 .sywPaymentOptions {
   color: #fff !important;
 }

 .SiteFooter__wrapper {
   background: #fff !important;
 }


 a:hover {
   color: #8e8b88 !important;
   text-decoration: none;
 }

 #page-footer-mailto-support-bellroy-com-1 {
   color: #8e8b88 !important;
 }


 .syw-cta-desktop:hover,
 .syw-cta-desktop:focus {
   color: #8e8b88 !important;
   text-decoration: none;
 }

 .productTabs,
 .productTabs__tabs,
 .syw-usps {
   background: transparent !important;
 }


 .klaviyo_submit_button {
   font-family: "BDO Grotesk", sans-serif;
   font-size: 12px;
   font-weight: 700;
   background: #3d3d3a;
   text-align: center;
   padding: 0 5px;
   min-width: 100%;
   outline: none;
   border: 0;
   border-radius: 4px;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   cursor: pointer;
 }

 @media (min-width: 1100px) {
   .syw-cta-desktop {
     bottom: 33%;
   }
 }

 @media (min-width: 1200px) {
   .syw-cta-desktop {
     bottom: 30%;
   }

   #PageMenuPreHeader {
     background-color: #fff
   }
 }


 @media (max-width: 2300px) and (max-height: 900px) {
   #PageMenuPreHeader {
     background-color: #fff
   }
 }




 @media (min-width: 1300px) {}




 @media (max-width: 1199px) {


   #PageMenuPreHeader {
     background-color: #fff
   }
 }

 @media (max-width: 720px) {
   #newB1 {
     right: 5em
   }

   #newB2 {
     left: 5em
   }

   #PageMenuPreHeader {
     background-color: #fff
   }

   .syw-cta-desktop {
     bottom: 15%;
   }

   .logo {
     max-height: 250px;
   }

 }

 @media (min-width: 720px) {
   #newB1 {
     right: 28em
   }

   #newB2 {
     left: 28em
   }

 }


 @media (min-height: 1100px) and (min-width: 1300px) {
   #PageMenuPreHeader {
     background-color: #fff
   }
 }



 #anchorNew:hover {
   color: #8e8b88 !important;
 }

 .form-control {
   border-radius: initial !important;
 }


 .form-control:focus {
   box-shadow: none !important;
   font-size: 14px !important;
 }


 .swiper-wrapper {
   width: 1500px !important;
 }

 .car-card {
   background-color: transparent;
 }

 .car-card:hover {
   background-color: transparent;
   --tw-shadow: none;
 }


 .HtmlProductAddToCart {
   background-color: #3d3d3a !important;
 }

 button:focus {
   outline: none !important;
 }






 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


 .select-theme {
   margin-top: 20px;
 }

 .select-theme p {
   margin: 0 0 5px 0;
   padding: 0;
 }

 .radio-label {
   color: #303030;
   font-size: 14px;
   font-weight: 400;
   margin-right: 7px;
   -webkit-tap-highlight-color: transparent;
   cursor: pointer;
 }

 .radio-input {
   margin: 0;
   visibility: hidden;
 }

 .radio-input:checked+span {
   border: 2px solid #f4b400;
 }

 .radio-input:checked+span:after {
   opacity: 1;
 }

 .custom-radio {
   left: -8px;
   top: 6px;
   cursor: pointer;
   width: 17px;
   height: 17px;
   border: 2px solid #9a9a9a;
   border-radius: 50%;
   display: inline-block;
   position: relative;
 }

 /* for inner filled circle */
 .custom-radio::after {
   content: '';
   width: 12px;
   height: 12px;
   background: #f4b400;
   position: absolute;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 0.2s;
 }




 .MiniCart_Cart .MiniCart_Cart_SupportedPaymentTypes_Icons {
   margin-top: 10px;
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(6, 1fr);
 }


 .MiniCart_Cart .MiniCart_Cart_SupportedPaymentTypes {
   padding: 20px;
 }







 .wallet-image {
   display: none;
 }

 .wallet-image.desktop {
   display: block;
 }

 #logotoedit {
   width: 7%;
   position: absolute;
   top: 3em;
   left: 2em;
 }

 #logotoedits {
   margin-top: 2em;
 }



 @media (max-width: 768px) {
   #logotoedits {
     margin-top: initial;
   }

   .wallet-image.desktop {
     display: none;
   }

   .wallet-image.mobile {
     display: block;
   }

   #myUniD {
     position: fixed;
     background: #fff;
   }

   #logotoedit {
     width: 80px;
     margin-top: initial;
   }




   .SiteFooter__footNote {
     margin-bottom: 4em;
   }


 }






 a:hover {
   color: #fff !important;
   text-decoration: none;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6 {
   font-family: 'BDO Grotesk', sans-serif !important;
   font-weight: 700 !important;
   font-style: normal !important;
   text-transform: uppercase !important;

 }


 #mybbtn {
   border-color: #222 !important;
   padding: 8px 20px;
   border: 2px solid #222;
   border-radius: 0;
   font-size: 13px;
   font-weight: bold;
   color: white;
   background-color: transparent;
   letter-spacing: 1px;


 }



 /* Weird class names and ids for the layout */
 .odd-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-top: 20px;
   padding: 0 20px;
   /* Adds padding on the sides for mobile */
 }

 @media(min-width: 768px) {

   /* On larger screens, switch to row layout */
   .odd-container {
     flex-direction: row;
     gap: 20px;
     padding: 0;
     /* Remove side padding for larger screens */
   }
 }

 /* Video container with weird id */
 #vid-jump {
   width: 600px;
   height: 1000px;
   position: relative;
   border-radius: 20px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   /* Align text and buttons to the left */
   gap: 20px;
   /* Space between elements */
 }

 #vid-xtra {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 #vid-word-blast {
   position: absolute;
   bottom: 20%;
   left: 10%;
   /* Align text to the left */
   transform: translateX(0);
   color: white;
   font-size: 3rem;
   font-weight: bold;
   text-transform: uppercase;
   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
 }



 #vid-action-push:hover {
   background-color: #3d3d3a;
 }

 /* Image container with a weird id */
 #pic-portal {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .pic-dream {
   width: 600px;
   height: 750px;
   position: relative;
   border-radius: 20px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   /* Align text and buttons to the left */
   gap: 20px;
   /* Space between elements */
 }

 .pic-bubble {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .pic-tagline {
   position: absolute;
   bottom: 16%;
   left: 10%;
   /* Align text to the left */
   transform: translateX(0);
   color: white;
   font-size: 25px;
   font-weight: bold;
   text-transform: uppercase;
   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
 }

 .pic-button-splash {
   position: absolute;
   bottom: 10%;
   left: 10%;
   background-color: transparent !important;
   color: white;
   letter-spacing: 1px;
   background: transparent !important;
   text-decoration: underline !important;
   background: transparent !important;
   background-color: transparent !important;
   color: #fff !important;
   font-size: 14px !important;
   text-decoration: underline !important;
 }


 /* For mobile responsiveness */
 @media (max-width: 768px) {

   /* Add margin for mobile screens between content and edges */
   .odd-container {
     padding: 0 20px;
     /* Add padding to left and right on small screens */
   }

   /* Adjust video and images for better mobile display */
   #vid-jump {
     width: 100%;
     height: auto;
     /* Allow video to adjust to screen size */
     margin-bottom: 20px;
   }

   .pic-dream {
     width: 100%;
     height: auto;
     /* Allow images to adjust to screen size */
   }
 }


 header {
   background-color: #fff !important;
 }

 #filterId1 {
   background-color: #fff !important;
 }

 @media (min-width: 1200px) {
   @media (pointer: fine) {
     .xl\:pointer-fine\: {
       --tw-bg-opacity: 1;
       background-color: transparent !important;
     }
   }

   #logotoedits {
     width: 100px;
   }
 }

 .MiniCart_Cart_Heading {
   background-color: #fff !important;
 }

 #sec-9a83 {
   background-color: #fff !important;
 }

 .u-section-1 {
   background-color: #fff !important;
 }

 .myBB {
   color: #3d3d3a !important;
 }

 .myBB3 {
   color: red !important;
 }






 @media (max-width: 2300px) and (max-height: 900px) {
   #PageMenuPreHeader {
     position: fixed;
     top: -2em;
     right: 0;
   }

   #logotoedits {
     position: fixed;
     top: 1em;
     left: 2em;
   }
 }



 .pageHeaderMenuOverlay__close {
   position: fixed !important;
   top: 3em !important;
   background-color: #222 !important;
 }


 @media (max-width: 720px) {
   #PageMenuPreHeader {
     position: sticky;
   }

   #logotoedits {
     position: sticky;
   }

   #filterId1 {
     z-index: 99999999999999999;
   }

   .pageHeaderMenuOverlay__close {
     top: 1em !important;
   }

   #page-header-homepage-1 {
     top: 5em;
   }

   #hamburger {
     top: 3em;
   }

   .mobileNewsletter {
     top: 4.3em !important
   }

   #page-header-search-1 {
     position: fixed;
     right: 1em;
     top: 4.5em !important;
   }

   .pageHeaderMenuOverlay {
     top: 2em !important;
   }

   .pageHeaderMenuOverlay__close {
     top: 3em !important;
   }


   #PageMenuPreHeader {
     height: 100px;
   }

   #yourDivId222 {
     margin-top: 6em !important;
   }
 }

 #myUniD {
   position: fixed;
   top: 1em;
 }

 .myNewC {
   color: #3d3d3a !important;
 }

 @media (min-width: 1200px) {
   @media (pointer: fine) {
     .secondaryLevel {
       top: 80px !important;
     }
   }
 }

 .menuicon {
   position: relative;
   display: inline-block;
 }

 .cart-count {
   position: absolute;
   bottom: -5px;
   right: -5px;
   background-color: #3d3d3a;
   color: white;
   font-size: 8px;
   font-weight: bold;
   width: 14px;
   height: 14px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
 }



 @media (min-width: 1200px) {
   @media (pointer: fine) {
     .xl\:pointer-fine\:br_pb-0 {
       padding-bottom: 0;
       margin-left: 17em;
       margin-top: 1em;
     }
   }
 }


 input {
   color: #222 !important;
 }

 .myGray {
   color: #222 !important;
 }

 .myGray2 {
   color: #ababab !important;
 }

 .myRed {
   color: red !important;
 }



 .pageHeaderMenuOverlay.open {
   position: fixed;
 }




 .br_line-through {
   text-decoration: line-through;
   text-decoration-color: red;
 }











 .image-container {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .default-img,
 .hover-img {
   width: 100%;
   height: auto;
   object-fit: contain;
   transition: opacity 0.3s ease-in-out;

 }

 .hover-img {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   /* Initially hidden */
 }

 /* Desktop Hover Effect */
 .image-container:hover .default-img {
   opacity: 0;
 }

 .image-container:hover .hover-img {
   opacity: 1;
 }

 /* Mobile Touch Effect (Only for the touched image) */
 .image-container.touch-active .default-img {
   opacity: 0;
 }

 .image-container.touch-active .hover-img {
   opacity: 1;
 }



 .myWhite {
   color: white;
 }


 .pageHeaderMenuPreHeader .hamburger span {
   background: #1E1E1E !important
 }

 .menuicon svg {
   stroke: #1E1E1E !important
 }


 body {
   font-family: 'BDO Grotesk', sans-serif !important;
 }



 #page-footer-mailto-support-bellroy-com-1 {
   color: #3d3d3a !important;
 }


 #anchorNew:hover {
   color: initial !important;
 }


 .color-label {
   color: #4a5568;
   /* text-gray-700 */
   font-weight: 600;
   margin-bottom: 0.25rem;
 }

 .color-options {
   display: flex;
   gap: 0.5rem;
 }

 .color-circle {
   width: 3rem;
   height: 3rem;
   border: 1px solid #4a5568 !important;
   border-radius: 50%;
   cursor: pointer;
   transition: border-color 0.2s ease;
 }

 .color-circle.selected {
   border: 3px solid #3d3d3a !important;
 }

 .color-circle.disabled {
   opacity: 0.3;
   cursor: not-allowed;
 }

 .error-message {
   color: #dc2626;
   /* red-600 */
   font-size: 0.875rem;
   margin-top: 0.25rem;
 }



 @media (min-width: 1200px) {
   @media (pointer: fine) {
     .xl\:pointer-fine\:br_bg-transparent {
       background-color: #fff !important;
     }
   }
 }


 .clickText {
   font-size: 10px !important;
   white-space: nowrap;
 }

 .clickText1 {
   font-size: 12px !important;
   white-space: nowrap;
   color: blue !important;
   text-indent: none !important;
 }

 .clickText1:visited,
 .clickText1:focus {
   font-size: 12px !important;
   white-space: nowrap;
   color: blue !important;
   text-indent: none !important;
 }

 .custom-checkbox-container {
   display: inline-block;
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   user-select: none;
   font-size: 16px;
 }

 .custom-checkbox-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }

 .custom-checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: #eee;
   border: 2px solid #999;
   border-radius: 4px;
   transition: background-color 0.2s ease;
 }

 .custom-checkbox-container:hover input~.custom-checkmark {
   background-color: #ddd;
 }

 .custom-checkbox-container input:checked~.custom-checkmark {
   background-color: #007bff;
   border-color: #007bff;
   z-index: 99999999999999;
 }

 .custom-checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 .custom-checkbox-container input:checked~.custom-checkmark:after {
   display: block;
 }

 .custom-checkbox-container .custom-checkmark:after {
   left: 6px;
   top: 2px;
   width: 6px;
   height: 12px;
   border: solid white;
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);

 }




 @media (max-width: 1200px) {
   #PageMenuPreHeader {
     position: fixed;
     top: 2em !important;
   }
 }

 @media (max-width: 768px) {
   #PageMenuPreHeader {
     position: fixed;
     top: 0 !important;
   }
 }

 #logo123123 {
   display: none;
 }

 @media (min-width: 720px) and (max-width: 1199px) {
   #logo123123 {
     display: block;
     position: fixed;
     top: 3em;
     left: 50%;
     transform: translateX(-50%);
     width: 8%;
     z-index: 99;
   }

   #PageMenuPreHeader {
     background: #fff !important;
     padding: 2em;
   }
 }


 header {
   background-color: #f8f7f3 !important;
   z-index: 99 !important;
 }

 header a,
 .myMenut {
   color: black !important;
   text-transform: uppercase !important;
   font-weight: 300 !important;
   font-size: 15px !important;
 }


 h1,
 .h1 {
   font-size: 95px !important;
 }


 a:hover {
   color: #000000 !important;
   text-decoration: none !important;
   opacity: 0.7 !important;
   transition: opacity .3s ease !important;
 }


 #cartid2 {
   z-index: 9999;
 }


 .offerline {
   z-index: 99;
 }


 .bannertitle {
   line-height: 1em;
 }

 .gothic {
   font-family: 'BDO Grotesk', sans-serif !important;
   font-weight: 400 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: #000 !important;
   line-height: 1.5px !important;
   font-size: 13px !important;
 }

 .myButton {
   font-family: 'BDO Grotesk', sans-serif !important;
   background-color: #3d3d3d !important;
   padding: 18px 28px !important;
   color: white !important;
   border-radius: 8px !important;
   font-size: 12px !important;
   font-weight: 100 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   line-height: 1.5px !important;
 }


 .myButton:hover {
   color: white !important;
   opacity: 0.9 !important;
   transition: opacity .3s ease !important;
 }


 .sectitle {
   margin-bottom: 0;
   color: #333333;
   font-size: 32px;
 }

 .reviewText {
   margin-bottom: 0 !important;
   color: #ffffff !important;
   font-size: 45px !important;
 }

 .secP {
   color: #666666;
   font-size: 14px;
   font-family: 'BDO Grotesk', sans-serif !important;
 }


 .secP2 {
   color: #fff;
   font-size: 14px;
   font-family: 'BDO Grotesk', sans-serif !important;
 }

 .secP3 {
   color: #fff;
   font-size: 16px;
   font-family: 'BDO Grotesk', sans-serif !important;
   text-transform: uppercase !important;
 }



 @media (max-width: 720px) {

   h1,
   .h1 {
     font-size: 50px !important;
   }

   .phoneP {
     padding-left: 1.5em !important;
     height: 75% !important;
   }
 }





 .myButton1 {
   font-family: 'BDO Grotesk', sans-serif !important;
   background-color: transparent !important;
   padding: 18px 28px !important;
   color: white !important;
   border-radius: 8px !important;
   border: 1px solid white !important;
   font-size: 12px !important;
   font-weight: 100 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   line-height: 1.5px !important;
   max-width: 130px;
   margin-top: 1em;
 }

 .myButton1:hover {
   color: white !important;
 }



 .myButton2 {
   font-family: 'BDO Grotesk', sans-serif !important;
   background-color: transparent !important;
   color: white !important;
   font-size: 14px !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
 }

 .myButton2::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 1px;
   width: 100%;
   background-color: white;
   transform-origin: left;
   transform: scaleX(1);
   transition: transform 0.3s ease-in-out;
 }

 .myButton2:hover::after {
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
   animation: reappearLine 0.6s forwards 0.3s;
 }

 @keyframes reappearLine {
   from {
     transform: scaleX(0);
   }

   to {
     transform: scaleX(1);
   }
 }



 .myntit {
   font-family: 'BDO Grotesk', sans-serif !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: #000 !important;
   font-size: 52px !important;
 }


 .padforcat {
   padding: 5em;
 }


 @media (max-width: 720px) {
   .myntit {
     font-size: 32px !important;
   }

   .padforcat {
     padding: 2em;
   }
 }


 #nonehover:hover {
   opacity: 1 !important;
 }



 .myPrice {
   font-family: 'BDO Grotesk', sans-serif !important;
   font-weight: 400 !important;
   font-style: normal !important;
   color: #000 !important;
   font-size: 14px !important;
 }

 .myPrice1 {
   font-family: 'BDO Grotesk', sans-serif !important;
   font-weight: bolder !important;
   font-style: normal !important;
   color: #000 !important;
   font-size: 14px !important;
   text-transform: capitalize !important;
 }



 @layer utilities {
   @keyframes fadeInLeft {
     0% {
       opacity: 0;
       transform: translateX(-30px);
     }

     100% {
       opacity: 1;
       transform: translateX(0);
     }
   }

   .animate-fade-in-left {
     animation: fadeInLeft 0.8s ease forwards;
   }
 }

 .NewsletterSignupFooter {
   background: #000 !important;
 }

 .SiteFooter__wrapper {
   background: #000 !important;
 }

 .SiteFooter__wrapper a,
 .SiteFooter__wrapper a:visited .SiteFooter__wrapper a:focus .SiteFooter__wrapper a:active {
   color: #fff !important;
 }

 #footId1>ul>li>a,
 #footId2>ul>li>a {
   font-size: 14.5px !important;
   font-family: 'BDO Grotesk', sans-serif !important;
   font-weight: 400 !important;
 }

 #footId1>h4,
 #footId2>h4,
 .NewsletterSignupFooter_Heading {
   font-size: 19px !important;
   font-weight: 700 !important;
 }

 .copyright {
   font-size: 11px !important;
   font-weight: 400 !important;
   color: #9b9798 !important;
   font-family: 'BDO Grotesk', sans-serif !important;
 }


 .mynavidhere {
   padding-top: 0.5em !important;
   padding-bottom: 0.5em !important;
 }

 #mymobfoot {
   display: none !important;
 }

 @media (max-width: 768px) {
   .SiteFooterSitemap .column {
     background: transparent !important;

   }



   #mymobfoot {
     display: block !important;
   }
 }



 .MiniCart_Cart_Heading {
   font-family: 'Special Elite', system-ui;
   -webkit-font-smoothing: antialiased;
   line-height: 30px;
   font-size: 12px;
   letter-spacing: 0.5px;
   text-transform: none;
   min-height: 73px;
   border-bottom: none;
   cursor: default;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   position: relative;
   background-color: white;
 }

 .MiniCart_Cart_CloseButton {
   position: absolute;
   right: 0;
   padding: 20px 25px;
   border: none;
   font-family: 'Special Elite', system-ui;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   color: #676767;
   background-color: transparent;
   cursor: pointer;
   -webkit-font-smoothing: antialiased;
   letter-spacing: 1px;
 }

 .MiniCart_Cart_CloseButtonIcon {
   width: 15px;
   height: 15px;
 }

 .MiniCart_Cart_CloseButtonIcon:before {
   transform: rotate(45deg);
 }

 .MiniCart_Cart_CloseButtonIcon:before,
 .MiniCart_Cart_CloseButtonIcon:after {
   display: block;
   content: ' ';
   border-left: 1px solid #676767;
   position: absolute;
   right: 50%;
   top: 20px;
   height: 15px;
 }

 .MiniCart_Cart_CloseButtonIcon:after {
   transform: rotate(-45deg);
 }

 .MiniCart_Cart_CloseButtonIcon:before,
 .MiniCart_Cart_CloseButtonIcon:after {
   display: block;
   content: ' ';
   border-left: 1px solid #676767;
   position: absolute;
   right: 50%;
   top: 20px;
   height: 15px;
 }

 #mobile-menu-btn {
   display: flex;
 }



 @media (min-width: 640px) {

   /* Tailwind's sm breakpoint */
   #mobile-menu-btn {
     display: none;
   }

 }



 .mytitle1 {
   font-size: 25px !important;
 }

 .mybtn1 {
   background: transparent !important;
   background-color: transparent !important;
   color: #fff !important;
   font-size: 14px !important;
   text-decoration: underline !important;
 }

 .mybtn1:hover {
   background: transparent !important;
   background-color: transparent !important;
   color: #fff !important;
   font-size: 14px !important;
   text-decoration: underline !important;
 }


 .mytitle4 {
   font-size: 18px !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: white !important;
 }

 .mytitle2 {
   font-size: 25px !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
 }

 .mytitle3 {
   font-size: 25px !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   text-align: center !important;
 }



 .myP {
   font-size: 12px !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   text-align: left !important;
   color: #1f1a17 !important;
 }



 .myProduct1 {
   color: #1f1a17 !important;
   font-weight: bolder !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   font-size: 18px !important;
   text-align: left !important;
 }


 .myP1 {
   font-size: 13px !important;
   font-weight: 100 !important;
   text-align: left !important;
   color: #1f1a17 !important;
   margin: 0 !important;
   padding: 0 !important;
   line-height: 1.3 !important;
   letter-spacing: 2px !important;
 }

 .myP2 {
   font-size: 12px !important;
   font-weight: lighter !important;
   text-align: left !important;
   color: #1f1a17 !important;
 }

 .myP3 {
   font-size: 18px !important;
   font-weight: lighter !important;
   text-align: left !important;
   color: #1f1a17 !important;
 }


 .myTable {
   border: #cfcfcf 0.1px solid !important;
 }

 .myRow {
   border-top: #cfcfcf 0.1px solid !important;
   border-bottom: #cfcfcf 0.1px solid !important;
 }


 .elementor-20120 .elementor-element.elementor-element-f1c046e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
 .elementor-20120 .elementor-element.elementor-element-f1c046e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
   background-color: #f8f7f3 !important;
 }

 .elementor-20120 .elementor-element.elementor-element-b92d2c>.elementor-container {
   background-color: #f8f7f3 !important;
 }

 .elementor-20120 .elementor-element.elementor-element-b92d2c:not(.elementor-motion-effects-element-type-background),
 .elementor-20120 .elementor-element.elementor-element-b92d2c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
   background-color: #f8f7f3 !important;
   background-image: linear-gradient(90deg, #f8f7f3 50%, #f8f7f3 50%) !important;
 }


 .elementor-20120 .elementor-element.elementor-element-b92d2c:not(.elementor-motion-effects-element-type-background),
 .elementor-20120 .elementor-element.elementor-element-b92d2c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
   background-color: #f8f7f3 !important;
   background-image: linear-gradient(90deg, #f8f7f3 50%, #f8f7f3 50%) !important;
 }



 #mynewNavNav {
   display: none !important;
 }

 #mobile-menu-btn,
 #mySearchColor {
   background: transparent !important;
 }

 #myColorblack {
   color: #000 !important;
 }

 @media (min-width: 640px) {
   .sm\:flex {
     display: flex !important;
   }

   #mynewNavNav {
     display: flex !important;
   }
 }


 .myBanTit {
   font-family: 'Inter', sans-serif !important;
   font-weight: 300 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: #fff !important;
   font-size: clamp(1rem, 12vw, 15rem) !important;
   margin: 0 !important;
   line-height: 0.9 !important;

 }

 .myBanTit1 {
   font-family: 'Inter', sans-serif !important;
   font-weight: 300 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: #fff !important;
   font-size: clamp(1rem, 5vw, 4rem) !important;
   margin: 0 !important;
   line-height: 0.9 !important;
 }


 .myNavLi {
   font-family: "BDO Grotesk VF", Arial, sans-serif !important;
   font-weight: 300 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: #000 !important;
   font-size: 0.8rem !important;
   letter-spacing: 0.25rem !important;
 }

 .titlemymymy2 {
   font-family: 'Inter', sans-serif !important;
   font-weight: 400 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   color: #000 !important;
   font-size: clamp(5rem, 5vw, 20rem) !important;
   margin: 0 !important;
   line-height: 1 !important;
 }


 .goldenText {
   color: #CBAB58 !important;
   font-family: 'Inter', sans-serif !important;
   font-weight: 400 !important;
   font-style: normal !important;
   text-transform: uppercase !important;
   font-size: 1rem !important;
   margin: 0 !important;
   line-height: 1 !important;
   letter-spacing: 0.2rem !important;
 }

 .titlemymymy2abcd {
   font-family: 'Inter', sans-serif !important;
   font-weight: bold !important;
   font-style: normal !important;
   color: #000 !important;
   font-size: clamp(4rem, 5vw, 13rem) !important;
   line-height: 1 !important;
 }


 .grText {
   color: #666 !important;
   font-family: 'Inter', sans-serif !important;
   font-weight: 300 !important;
   font-style: normal !important;
   font-size: 1.2rem !important;
   line-height: 1.1 !important;
 }

 .what1 {
   color: #e0dcd6 !important;
   font-family: 'Inter', sans-serif !important;
   font-weight: 500 !important;
   font-style: normal !important;
   font-size: clamp(2.5rem, 5vw, 4.5rem) !important;
   line-height: 1 !important;
   padding: 4rem;
 }

 .myHrT {
   border: white solid 1px !important;
 }

 .numberT {
   background: #CBAB58 !important;
   color: white !important;
   font-family: 'Inter', sans-serif !important;
   font-weight: 100 !important;
   font-size: 1rem !important;
 }


 .myBorder123123 {
   padding-top: 2rem !important;
   padding-bottom: 2rem !important;
   border-top: #666 dotted 0.3px !important;
 }


 footer {
   background: #e1dcd6 !important;
 }

 .myRights {
   color: #6b6b6b;
   font-size: .75rem;
   font-weight: 400;
 }


 .colorp {
   color: #666 !important;
   font-family: 'Inter', sans-serif !important;
   font-weight: 300 !important;
   font-style: normal !important;
   font-size: 1rem !important;
 }

 .myfp {
   color: #000 !important;
   font-family: 'Inter', sans-serif !important;
   font-weight: 300 !important;
   font-style: normal !important;
   font-size: 1rem !important;
 }




 .myOver {
   position: absolute;
   top: 0;
   left: 0;
   width: 84px;
   height: 100%;
   background-color: #f8f7f3;
   pointer-events: none;
   z-index: 20;
 }

 .myOver1 {
   position: 'absolute';
   top: 0;
   right: 0;
   width: '120px';
   height: '100%';
   pointer-events: 'none';
   background: 'linear-gradient(to left, #f8f7f3 70%, rgba(255,255,255,0) 100%)';
   filter: 'blur(15px)';
   z-index: 10;
 }


 .myWhatBack{
  width: clamp(2rem, 100vw, 100rem) !important; 
  border-radius: 100px !important; 
 }

  .mobcenter{
  text-align: left !important;
 }

 @media (max-width: 640px) {

   .mobcenter{
  text-align: center !important;
 }

   /* For mobile screens */
   .myOver {
     width: 10px;
   }
   .myOver1 {
     display: none;
   }


 .myWhatBack{
  width: 350px !important; 
  border-radius: 30px !important; 
 }




 }

 .aboutTit{
     font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: clamp(3rem, 5vw, 5rem) !important;
  color: #fff !important;
  font-style: italic !important;
 }


 .aboutTit1{
     font-family: 'Inter', sans-serif !important;
  font-weight: 500 !important;
  font-size: clamp(1rem, 2vw, 2rem) !important;
  color: #000 !important;
  font-style: italic !important;
 }

